<div ng-repeat="recommend in recommendsClosest" layout="row" class="recommendsClosest" ng-click="redirect(recommend.id)">
    <div flex layout-wrap layout-margin>
        <div flex>Name: <span ng-bind="recommend.name"></span></div>
        <div flex>Address: <span ng-bind="recommend.street"></span> New York, USA</div>
        <div flex>Rank: <span ng-bind="recommend.rate.toString().slice(0,4)"></span></div>
        <div flex>Distance from Searched one: <span ng-bind="recommend.km.toString().slice(0,4)"></span> km</div>
    </div>
</div>
